---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 100
  reverse: true
  alias: posts
---
<content>
  {% for post in posts %}
    <article>
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
      {{ post.templateContent | safe }}
    </article>
  {% endfor %}
</content>
 hrefs: [], // Array of all page hrefs (in order)
  href: {
    next: "…", // put inside <a href="">Next Page</a>
    previous: "…", // put inside <a href="">Previous Page</a>
first: "…",
    last: "…",
  }