---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 100
  reverse: true
  alias: posts
---
<content>
  {% for post in posts %}
    <article>
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
      {{ post.templateContent | safe }}
    </article>
  {% endfor %}
</content>

<footer>
{% if pagination.pageLinks.length > 1 %}
<hr>
<nav class="pagination">
  {% if pagination.previousPageLink %}
    <a class="pagination__item" href="{{ pagination.previousPageHref | url }}">Newer learnings</a>
  {% else %}
    <span class="pagination__item">Newer learnings</span>
  {% endif %}
|
  {% if pagination.nextPageLink %}
    <a class="pagination__item" href="{{ pagination.nextPageHref | url }}">Older learnings</a>
  {% else %}
    <span class="pagination__item">Older learnings</span>
  {% endif %}
</nav>
{% endif %}
</footer>